

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Think Square</title>
</head>

<body>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-4">
      <h3>Ideas</h3>
      <br>
      <div id="all-ideas">
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <h3>New Idea?</h3>
      <hr>
      <div class="form-group">
        <input class="form-control" type="text" id="idea-title" placeholder="Title">
        <input class="form-control" type="text" id="idea-body" placeholder="Description">
      </div>
      <input class="btn btn-success pull-left" id="create-idea" type="button" name="submit" value="Create Idea">
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>

</body>
</html>
